* {
    margin: 0;
	padding: 0;
}

@import url('https://fonts.google.com/share?selection.family=Outfit:wght@300;400;500;700');

html {
	font-family: sans-serif;
	font-size: 62.5%;
}

body {
	background-color: black;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: black;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}