.products-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card-img {
    width: 60%;
}

.card-body {
    display: flex;
    flex-direction: column;
    background-color: $violeta-oscuro;
}