.bg-light {
    background-image: url(../assets/img/bcat.png);
    }

nav {
    box-shadow: 0 0 30px 0 $clarito;
    a {
        text-decoration: none;
    }
    }    

.navlink {
    background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);
    color: $violeta-oscuro;
    border-radius: 15px;
    padding: 10px;
    margin: auto 10px;
    text-shadow: 3px 3px 2px $lila;
    box-shadow: 2px 2px 5px 0 $lila;
    font: 700 1.8rem $font;
    &:hover {
        color: $lila;
        }
    }

.border {
    @include borders;
}

.active {
    font-weight: 900;
}

.cart-icon {
    filter: drop-shadow(0 0 5px $violeta-oscuro);
    color: $clarito;
    font-size: 30px;
    &:hover {
        opacity: 0.8;
    }
}

.spinner-border {
    width: 100px; 
    height: 100px;
    margin: 50px auto;
}

.cart_count {
    position: absolute;
    top: 30px;
    right: 105px;
    color: #fff;
    background: #ff3e6c;
    font-weight: 500;
    border-radius: 50%;
    font-size: 11px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    }

