h1 {
    font: 700 3rem $font;
    color: $clarito;
    margin-top: 2em;
    } 

h2 {
    font: 2rem $font;
    color: $clarito;
    margin-top: 1em;
}     

.counter {
    font: 1.5rem $font;
    color: $clarito;
}

.footer {
    background-color: $lila;
    display: flex;
    flex-direction: column;
    font: 700 $font;
    color: $clarito;
    padding: 10px;
    box-shadow: 0 0 10px 0 $clarito;
    margin-top: 50px;
}